{% extends 'pubu/mainmodle.html' %}
{% load  static %}
{% block main %}
    {% for i in blog_all %}
    <div class="article_title">
        <h1>{{ i.title }}</h1>
    </div>
    <div class="article_icos">
          <img  src="/static/time/img/日期.png">&nbsp;<span>{{ i.time|date:"Y-m-d"}}</span>
         &nbsp; <a href="/likes"><img src="/static/time/img/浏览.png"></a>&nbsp;<span>{{ i.total_views}}浏览</span>
          &nbsp; <img  src="/static/time/img/数量统计.png">&nbsp;<span>共{{ article_fontnums }}个字</span>
  &nbsp; <img  src="/static/time/img/分类.png">&nbsp;<span>{{ i.column}}</span>
    </div>
    <div class="article_toc">
    <h3>目录</h3>
           {{toc|safe}}
    </div>
    <div class="article_right_footer">
      {{ article|safe }}
    </div>
    {% endfor %}
{% endblock %}