{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="{% static 'pubu/css/htmleaf-demo.css' %}">
	<title>myblog准备阶段</title>
	<link rel="stylesheet" href="{% static 'pubu/css/main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Hind:400,600|Open+Sans:300,600" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'pubu/dist/sortable.min.css' %}">
  <script type="text/javascript" src="{% static 'pubu/dist/sortable.js' %}"></script>
</head>
<body>
	<div class="htmleaf-container">
		<header class="htmleaf-header">
			<h1>xob's blog <span>orb,A boy who loves code and animation</span>
                <span><a href="/resiger">注册</a></span>
                <span><a href="/resiger">网站建设状态</a></span>
            </h1>
			<div class="htmleaf-links">
				<a class="htmleaf-icon icon-htmleaf-home-outline" href="./" title="jQuery之家" target="_blank"><span> jQuery之家</span></a>
				<a class="htmleaf-icon icon-htmleaf-arrow-forward-outline" href="http://www.htmleaf.com/jQuery/pubuliuchajian/201808015256.html" title="返回下载页" target="_blank"><span> 返回下载页</span></a>
			</div>
		</header>
		  <main class="sortable">
		    <div class="container">
		      <div class="wrapper">
		        <ul class="sortable__nav nav">
		          <li>
		            <a data-sjslink="all" class="nav__link">
		              All
		            </a>
		          </li>
		          <li>
		            <a data-sjslink="flatty" class="nav__link">
		              学习
		            </a>
		          </li>
		          <li>
		            <a data-sjslink="funny" class="nav__link">
		              生活
		            </a>
		          </li>
		        </ul>
		        <div id="sortable" class="sjs-default">
                    {%for i in blog_all%}
		          <div data-sjsel={{ i.list }}>
		            <div class="card">
		              <img class="card__picture" src="http://pic.netbian.com/uploads/allimg/180712/213018-1531402218fa16.jpg" alt="">
		              <div class="card-infos"><a href="/article/{{ i.id }}">
                          <h2 class="card__title">{{i.title}}</h2>
		                <p class="card__text">
		                 {{i.content|slice:'50'}}
		                </p></a>
		              </div>
		            </div>
		          </div>
                    {% endfor %}
		        </div>
		      </div>
		    </div>
		  </main>
	</div>
	
	<script type="text/javascript">
	    document.querySelector('#sortable').sortablejs()
	  </script>
</body>
</html>
