{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <link rel="stylesheet" type="text/css" href="{% static 'time/css/moblecodestyle.css' %}">
       <link rel="stylesheet" type="text/css" href="{% static 'time/css/moblemain.css' %}">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    　<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src={% static 'layer-v3.1.1/layer-v3.1.1/layer/layer.js' %}></script>
       <link rel="stylesheet" type="text/css" href="{% static 'time/css/user_layer.css' %}">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{% static 'time/img/mainico2.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'time/img/mainico2.ico' %}" type="image/x-icon">

      <script>
  window.onload = function () {
            var btn = document.getElementById("support_btn");
            var test = window.location.href.split('/')[4];
            url1 = 'support' + test.toString();
            btn.onclick = function () {
                if (!localStorage.getItem(test)){
                   httpxml= $.ajax({
                    url: url1,
                    data: {
                    },
                    success: function (result) {
                        localStorage.setItem(test,true);
                    document.getElementById("likes_num").innerText=httpxml.responseText;
                       layer.msg('感谢支持',{time: 1000});
                    }
                });
                } else {
                   layer.msg('你已经点过赞了',{time: 1000});
                }
            }
        }
    </script>
</head>
<body>
    <div class="all">
    {% for i in blog_all %}
    <div class="article_title">
        <h1>{{ i.title }}</h1>
    </div>
    <div class="article_icos">
          <img  src="/static/time/img/日期.png">&nbsp;<span>{{ i.time|date:"Y-m-d"}}</span>
         &nbsp; <a href="/likes"><img src="/static/time/img/浏览.png"></a>&nbsp;<span>{{ i.total_views}}浏览</span>
          &nbsp; <img  src="/static/time/img/数量统计.png">&nbsp;<span>共{{ article_fontnums }}个字</span>
  &nbsp; <img  src="/static/time/img/分类.png">&nbsp;<span>{{ i.column}}</span>
    </div>
    <div class="article_right_footer">
      {{ article|safe }}
    </div>
   {%endfor%}
    </div>
  <div class="support">
        <button class="btn btn-default" id="support_btn"><span>点赞</span><img src="{% static 'time/img/点赞.png' %}"><span id="likes_num">{{ likes }}</span></button>
    </div>
</body>
</html>