body{
    height: 100%;
    width: 100%;
    /*background-image: url("../images/bgi2.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center 0;*/
    /*background-size: cover;*/
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}
.form1{
    margin-left: 10px;
    margin-top: 100px;
}
.input1{
    height: 32px;
    width: 300px;
}
.input2{
    height: 32px;
    width: 100px;

}
