.bgi{
    height: 2000px;
    width: 100%;
    background-image: url("../images/bgi2.jpg");
    /*background-repeat: no-repeat;*/
    /*background-position: center 0;*/
    /*background-size: cover;*/
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}
.form1{
    text-align: center;
    margin-top: 200px;
}