body{
    width: 100%;
    height: 100%;
}
img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.header{
    width: 100%;
    height: 10em;
	letter-spacing: -1px;
	text-align: center;
	/*background: #66677c;*/
    background:url('https://i.loli.net/2020/08/30/oXV8SKc2hCUwPpY.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}
.header_login{
    height: 40%;
    width: 20%;
    /*border: 1px solid black;*/
    float: right;
}
.header_login img{
    border-radius: 50%;
    display: inline-block;
    border: 1px solid silver;
}
.header_login span a{
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    white-space: nowrap;
    font-size: 1.6em;
    margin-left: 0.5em;
}
.header_login span a:hover{
   background-color: #2fa8ec;
}
.center{
    width:100%;

}
.about pre {
    font-size: 0.8em;
    background-color: #f5f5f5;
}

/*文章部分*/
.article_right_footer{
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background: white;
    border-radius: 4px;
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative;
    left:2em;
}
.article_title{
    box-shadow: 0 2px 3px rgba(26,26,26,.1);
    background: white;
    border-radius: 4px;
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative;
    left:2em;
    text-align: center;
}
.article_icos{
    /*box-shadow: 0 2px 3px rgba(26,26,26,.1);*/
    background: white;
    border-radius: 4px;
    width: 50%;
    height: 2em;
    margin: auto;
    position: relative;
    left:2em;
    /*border: 1px solid blue;*/
    text-align: center;
}
.article_icos img{
    width: 4%;
    height: 100%;
}
.article_icos span{
    color: #777777;
}

/*介绍框*/
.aboutme{
    height:30em ;
    width: 18%;
    position: relative;
    /*border: 1px solid blue;*/
    float: left;
    box-shadow: 0 6px 6px rgba(26,26,26,.1);
    left: 3.5em;

}
.aboutme .bg_img{
    width: 100%;
    height: 25%;
    border: 1px solid white;
    background:url('http://pic.netbian.com/uploads/allimg/200901/164654-15989500149a03.jpg') no-repeat center center ;
   background-size: cover;

}
.sort_span{
    width: 100%;
    border-bottom: 1px solid #e1e8ed;

}
.aboutme,.sort{
    background-color: white;
}
.aboutme .head_img{
    max-height: 100%;
    max-width: 100%;
    width: 35%;
    height: 20%;
    position: relative;
    left: 30%;
    bottom:4em;
    background-size:contain;
    transition-duration:0.5s;
    display:flex;
	align-items:center;
	justify-content:center;

}.aboutme .head_img img{
     border: 1px solid hsla(0,0%,100%,.4);
     border-radius:50%;
 }
.aboutme .head_img:hover {
   -webkit-transform: scale(1.2); /*Safari 和 Chrome*/
   -moz-transform: scale(1.2); /*Firefox*/
   -ms-transform: scale(1.2); /*IE9*/
   -o-transform: scale(1.2); /*Opera*/
}

.my_saying{
    width: 100%;
    height: 25%;
    /*border: 1px solid darkorchid;*/
    text-align: center;
    position: relative;
    bottom: 3em;
}
.icos{
    width: 100%;
    height: 25%;
    /*border: 2px solid aquamarine;*/
    text-align: center;
    position: relative;
    bottom: 1em;
}
.home_ico img{
    width: 15%;
    height: 40%;
}
.bilibili_ico img{
    width: 15%;
    height:40%;
}

 .github_ico img{
     width:15%;
     height: 40%;
     margin: 1em ;
 }
.icos img:hover {
   -webkit-transform: scale(1.2); /*Safari 和 Chrome*/
   -moz-transform: scale(1.2); /*Firefox*/
   -ms-transform: scale(1.2); /*IE9*/
   -o-transform: scale(1.2); /*Opera*/
}
/*分类*/
.sort{
    width:18%;
    position: relative;
    /*border: 1px solid blue;*/
    float: right;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    right: 2.5em;
    top:1em;
    border-radius: 5%;
}
.sort_span{
    font-size: 1.5em;
    margin-top: 1em;
}
.sort_icos{
    /*border: 1px solid blue;*/
    width:100%;
    height: 80%;
}
.sort_img1{
    width: 50%;
    height: 100%;
    float: left;
   margin-top: 0.8em;
}
.sort_img1 a{
    font-size: 1.2em;
    font-weight: 600;
    color: black;
}
.sort_icos img {
    width: 20%;
    height: 25%;

}
.toTop{
    position: fixed;
    right: 20px;
    top: -286px;
    z-index: 99;
    width: 70px;
    height: 800px;
    -webkit-transition: all .5s ease-in-out .3s;
    transition: all .5s ease-in-out .3s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.toTop img{
    width: 100%;
    height: auto;
}
.gotop{
    top: -950px;
}

.article_toc{
    width: 20%;
    height: 15em;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    position: fixed;
    top: 33em;
    right: 1em;
   border-radius: 5%;
    z-index: 3;

}
.article_toc ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
.article_toc ul li a{
    color: darkturquoise;
}
.article_toc h3{
    margin: 0;
    border-bottom: 1px solid #e1e8ed;
}
.footer_back{
    height: auto!important;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0
}
.footer_back .blog{
    text-align: center;
    position: relative;
    top: 6em;
}
.support{
    width: 30em;
    height: 5em;
    margin-left: 42%;
    margin-top: 3em;
}
.support .btn{
    width: 10em;
   height: 3em;
    text-align: center;
}
.support img{
    width: 25%;
}
.support .btn span{

}

