*{
    margin: 0;
    padding: 0;
}
body{
    height: auto;
    background:black;
}
a{
    text-decoration: none;
}
p{
    color: floralwhite;
}
span{
    color: floralwhite;
}
.header{
    width: 100%;
    height: 300px;
}
.header img{
    width: 100%;
    height: 100%;
}
.swiper-container{
    width: 100%;
    height: 300px;
}

/* .header video{
    position: absolute;
    object-fit: cover;
    width: 360px;
    height: auto;
    z-index: -1;
}  */
.header video{
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 42%;
} 
.header_font{
  /*border: 1px solid blue;*/
  text-align: center;
}
.header_font h1{
    font-size: 30px;
    margin: 16px;
    padding: 90px 0;
    align-items: center;
    justify-content: center;  
  }
.header_font>p{
      text-align: center;
      font-size: 13px;
      margin-top: -105px;
  }
.btn{
      width: 65px;
      height: 30px;
      padding:6px 20px;
      margin: 8% 35%;
      background-color: deepskyblue;
    position: relative;
  }
.btn span{
      color: white;
    position: absolute;
    top: 50%;
    margin-top: -12px;
  }
.content h2{
      color: white;
      text-align: center;
  }
  /* .header .but{
      color: #fff;
      display: block;
      font-size: 3px;
      padding: 1px 1px;
      background-color:black;
      border: 3px solid skyblue;
      border-radius: 5%;
  } */
.Mid_body{
    position: relative;
    width: 100%;
    height: 400px;
    background: #f5f5f5;
    text-align: center;
  }
.Mid_body h1{
    position: relative;
    display: block;
    padding: 20px;
    font-size: 25px;
    margin-top: 150px;
  }
.Mid_body span{
      color:dodgerblue
  }
.Mid_body a{
    display: block;
    text-decoration: none;
  }
.Mid_body img{
    width: 80%;
    margin-top: 65px;
  }
.fis_img img{
    padding: 15px 18px;
    width:90%;
    height: auto;
    }
.sec_img img{
    padding: 15px 18px;
    width: 90%;
    height: auto;
    margin-top: 300px;
    float: initial;
    }
.font_1{
    text-align: center;
    position: relative;
    width: 90%;
    margin-left: 20px;
    margin-top: 30px;
    }
.font_2{
    text-align: center;
    position: relative;
    width: 90%;
    margin-left: 20px;
    margin-top: -400px;
    }
.font_1>p,.font_2>p{
    color: aliceblue;
    font-size: 20px;
}
.font_1>span,.font_2>span{
    color: aliceblue;
    font-size: 15px;
}
.font_2 a{
  text-decoration: none;
  color: deepskyblue;
}
.foot_fir{
  width: 100%;
  background: #f5f5f5;
  margin-top: 350px;
}
.foot_fir img{
  width: 100%;
  height: auto;
  position: relative;
  margin-left: 1%;
}
.foot_fir p{
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 50px;
  color: black;
}

.thi_img img{
    padding: 15px 18px;
    width:90%;
    height: auto;
    margin-top: 190px;
  }
.fou_img img{
    padding: 15px 18px;
    width:90%;
    height: auto;
    margin-top: 280px;
    
    }
.font_3>p,.font_4>p{
    color: aliceblue;
    font-size: 20px;
  }
.font_3>span,.font_4>span{
    color: aliceblue;
    font-size: 15px;
  }
.font_3{
    text-align: center;
    position: relative;
    width: 90%;
    float: inherit;
    margin-left: 20px;
    margin-top: -360px;
  }
.font_4{
    text-align: center;
    position: relative;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
  }
  .foot_end{
    background-color: #fff;
    width: 100%;
    margin-top: 366px;
    float: none;
    justify-content: center;
    align-items: center;
  }
  .foot_end .end_left{
    background-color: #5E5E5E;
    width: 100%;
    height: 300px;
    position: relative;
  }
  .foot_end .end_right{
    background-color: #777777;
    width: 100%;
    height:  500px;
    position: relative;
    float: right;
  }
  .end_left p{
    color: #f5f5f5;
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }
  .btu{
    position:absolute;
    background-color: gray;
    padding: 5px 5px;
    width:  150px;
    height: 30px;  
    margin: 3px 28%;
    text-align: center;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown span{
    font-size: 20px;
    color: #f5f5f5;
  }

  .dropdown-content p{
    font-size: 20px;
    margin-top: 30px;
    background-color: dodgerblue;
    padding: 5px 5px;
    border-radius: 5%;
  }
.wavy{
  text-align: center;
  margin: 0 0;
  -webkit-box-reflect: below -2px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  position: relative;
}
.wavy span{
  margin-top: 20px;
  position: relative;
  font-size: 40px;
  display: inline-block;
  animation: mywavy 1.5s ease-in-out infinite;
  animation-delay: calc(.1s*var(--i));
}
@keyframes mywavy{
  0%{
      transform: translateY(0PX);
  }
  20%{
      transform: translateY(-24PX);
  }
  40%,100%{
      transform: translateY(0PX);
  }
}
.key{
  width: 30%;
  margin: 9% 30%;
}
.key input{
  width: 250px;
  height: 60px;
  border: 1px black solid;
  border-radius: 3%;
  margin-top: 3px;
  margin-left: -55px;
  background: none;
}
input::-webkit-input-placeholder{
  color: darkgrey;
  text-align: center;
}
.btn1{
  padding-bottom: 3px;
  position:absolute;
  margin-top: -20px;
  margin-left: 35%;
  /*border: dodgerblue 1px solid;*/
  width: 120px;
  height: 30px;
  background:#5E5E5E;
  font-color: white;
  }
.header_swiper{
    width: 100%;
    height: 800px;
    border: 1px solid red;
}
.all{
    width: 100%;
    height: 1500px;
    /*border: 1px solid red;*/
}
.main_middle_first_img {
    height: 30%;
    width: 100%;
    background: url("https://cdn2.unrealengine.com/Unreal+Engine%2Findustry%2Farchitecture%2FImageCourtesyofBuildmedia_img5-1920x1080-23d979c4e57e57c1254e5a9971aba97e21a0351d.png?resize=1&w=1000") center center / cover no-repeat;
}
.main_middle_first {
    width: 100%;
    box-sizing: border-box;
    padding: 2em;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 1px 1px 17px #1b1b1b;
    margin-top: 2em;
    position: relative;
}
.main_middle_first_font {
    /*border: 1px solid red;*/
    height: 30%;
    width: 100%;
}

.main_middle_first_title {
    font-size: 7.3vw;
    letter-spacing: 0.5px;
    color: #ff2f68;
    font-family: 'Montez', cursive;
    text-transform: capitalize;
}
.main_middle_first_main {
    margin-top: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #a2a2a2;
    line-height: 25px;
}



.main_middle_first_font button {
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
    max-width: 450px;
    margin: 5px;
    border-radius: 2px;
    background-color: rgba(17, 17, 17, 0.1);
    border-color: rgb(10, 175, 241);
    color: rgb(255, 255, 255);
    margin-top: 1em;
    width: 8em;
    height: 3em;
}
.main_middle_first_font button:hover {
    background-color: rgb(10, 175, 241);;
}
.swiper-slide{
    position: relative;
    z-index: -1;
}
.img_font{
    position: absolute;
    width: 80%;
    box-sizing: border-box;
    padding: 2em 2em;
    background: rgba(0, 0, 0, 0.45);
    top:25%;
    left: 5%;
    height: 135px;
}
.img_font h4{
    font-size: 1.7em;
    color: white;
}
h2 h3{
    font-family: 'Raleway', sans-serif;
}
.aboutus{
    background-color: white;
}
.aboutus  h2{
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #292929;
    font-weight: 400;
    text-transform: capitalize;
    text-shadow: 2px 2px 3px #8a8686;
    line-height: 1.7em;
    margin-left: 2em;
}
.aboutus_font{
    font-size:1.5em;
    letter-spacing: 2px;
    color: #292929;
    font-weight: 400;
    text-transform: capitalize;
    text-shadow: 2px 2px 3px #8a8686;
    line-height: 1.7em;
    margin-left: 5.1em;
}
.aboutus_guanyu {
    display: inline-block;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Montez', cursive;
    color: #166bea;
    text-transform: capitalize;
    text-shadow: 2px 2px 3px #8a8686;
    margin-left: 2.5em;
}
.xuanyan button{
     text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
    max-width: 450px;
    margin: 5px;
    border-radius: 2px;
    background-color:  rgb(10, 175, 241);
    border-color: rgb(10, 175, 241);
    color: rgb(255, 255, 255);
    margin-left: 1em;
    margin-top: 1em;
    width: 10em;
    height: 3em;
}

.swiper_border{
    height: 180px;
    width: 85%;
    position: absolute;
    top: 15%;
    left: 5%;
    border: 10px solid rgba(255, 255, 255, 0.24);
    border-left: none;
}
.directions{
    background: url("https://i.loli.net/2020/10/12/Ifnl2SD46XPvdLa.jpg") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    padding-right: 0.5em;
}
#web{
    margin: 1.3em 0;
}
.direction_intro{
    font-size: 2em;
    color: white;
    line-height: 51px;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 400;
    transform: translateY(20%)
}
.aiteam{
    font-size: 3.8vw;
    margin-top: 0.5em;
}
.main_middle_first ul{
    width: 100%;
    height: 100px;

    position: absolute;
    bottom: 10%;
}
.main_middle_first ul li{
    float: left;
}