.main{
    width: 100%;
    float: right;
}
.main_title{
    height: 10%;
    font-size: 10px;
    font-weight: 700;
    /*border: 1px solid blue;*/
    text-align: center;
    margin-top: 2em;
}
.article{
    width: 85%;
    padding: 10px 0px 10px 10px;
    border: 3px solid #EBEEF5;
    background-color: #FFF;
    margin-top: 1em;
    position: relative;
    border-radius: 20px;
    margin-left: 1em;
}
.main_time{
    position: absolute;
    top: 0;
    left: 2px;
    height: 60px;
    width: 60px;
    padding-top: 10px;
    border-radius: 100px;
    color: #fff;
    background: #97dffd;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.main_title{
    height: 10%;
    font-size: 18px;
    font-weight: 700;
    /*border: 1px solid blue;*/
    text-align: center;
    margin-top: 4em;
}

.main_time{
    position: absolute;
    top: 0;
    left: 2px;
    height: 40px;
    width: 50px;
    padding-top: 10px;
    border-radius: 100px;
    color: #fff;
    background: #97dffd;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.main_authorinfo{
    height: 6%;
    /*border: 1px solid red;*/
    margin-top: 0.5em;
    text-align: center;
}
.main_authorinfo img{
    width: 3%;
    height: 100%;
}

.article .main_content{
    width: 100%;
    height: 60%;
    /*border: 1px solid yellow;*/
}

.main_time span{
    text-align: center;
    display: block;

}
.main_time .day{
    font-size: 11px;
    font-weight: 700;
}
.main_label{
    position: absolute;
    border-color: #97dffd;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #97dffd;
    margin: 5px 0 15px 2px;
    font-size: 7px;
    border-radius: 0 4px 4px 0;
    padding: 3.5px 6.1px 3.5px 7px;
    display: inline-block;
    color: #fff;
    z-index: 4;
    top: 8em;
    left: -0.5em;
}

.main_label::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0.08em;
    border-top: 0 solid transparent;
    border-right-width: 1em;
    border-right-color: #48456d;
    border-right-style: solid;
    border-bottom: 1em solid transparent;
    border-left: 0 solid transparent;
    width: 0;
    height: 0;
}
.readall{
    position: absolute;
    width: 26%;
    height: 1.5em;
    left: 35%;
    bottom: 1%;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    background: #97e09c;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    padding-left: 0.5em;
    text-decoration: none;
    padding-top: 0.1em;
}


.article_right_footer{
    padding: 3em;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background: white;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin-top: 2em;
    overflow: scroll;
    position: relative;
}
.article_title{
    box-shadow: 0 2px 3px rgba(26,26,26,.1);
    background: white;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    text-align: center;
}
.article_icos{
    /*box-shadow: 0 2px 3px rgba(26,26,26,.1);*/
    background: white;
    border-radius: 4px;
    width: 100%;
    height: 1em;
    margin: auto;
    position: relative;
    /*border: 1px solid blue;*/
    text-align: center;
}
.article_icos img{
    width: 4%;
    height: 100%;
}
.article_icos span{
    color: #777777;
}