{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>asdsa</title>
    <link rel="stylesheet" href="{% static 'time/css/index.css' %}">
</head>
<body>
<div class="header">
    <div class="null">
    </div>
    <div>
        <ul class="header_ul">
            <li>新闻</li>
            <li>关于</li>
            <li>行业应用</li>
            <li>学习与支持</li>
            <li>社区</li>
            <li>虚幻商城</li>
        </ul>
    </div>
</div>
<div class="main">
    <video muted loop="loop" autoplay="autoplay">
        <source src="{% static 'time/虚幻.mp4' %}" type="video/mp4">
    </video>
    <div class="main_header">
        <div class="main_header_img">

        </div>
    </div>
    <div class="main_footer">
        <div class="main_footer_all">
            <div class="main_footer_font">
                <p class="main_footer_font_big">充满无限可能的世界</p>
                <p class="main_footer_smallfont">游戏</p>
                <p class="main_footer_smallfont">
                    使用全球最开放、最先进的实时3D创意平台制作行业领先的互动及沉浸式游戏体验。虚幻引擎制作过一系列大热游戏，适合任何规模的团队和任意题材的项目。</p>
            </div>
        </div>
        <div class="main_footer_ul">
            <ul>
                <li>游戏</li>
                <li> 建筑</li>
                <li> 汽车与运输</li>
                <li>广播与实况活动</li>
                <li>影视</li>
                <li>训练与模拟</li>
                <li>其他应用</li>
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_div">
        <div class="footer_div_img">
        </div>
        <div class="footer_div_font">
            <p class="footer_div_font_title">完美品质，久经考验</p>
            <p class="footer_div_font_main">
                虚幻引擎是一款殿堂级的实时引擎与编辑器，具备照片级逼真的渲染功能、动态物理与效果、栩栩如生的动画、健壮的数据转换接口等。它是一个开放且可扩展的平台，能为您带来无限的创作自由。</p>
            <p></p>
            <button>查看所有功能</button>
        </div>
    </div>


    <div class="footer_div_middle">
        <div class="footer_div_middle_font">
            <p class="footer_div_font_middle_title">前途无量</p>
            <p class="footer_div_font_middle_main">
                随着各行各业对实时3D技术的需求空前高涨，学习虚幻引擎已经成为了拓展职业潜力的最佳方式。从超过40小时的、可随时观看的免费在线课程，到遍布全球的、由金牌讲师主讲的培训活动，我们为您提供广泛的选择，以适应不同的学习方式。</p>
            <button>开始学习</button>
        </div>
        <div class="footer_div_middle_img">
        </div>

    </div>


    <div class="footer_div">
        <div class="footer_div_last_img">
        </div>
        <div class="footer_div_font">
            <p class="footer_div_font_title">助您成功</p>
            <p class="footer_div_font_main">
                从初次进入虚幻引擎到完成最高难度的项目，我们随时为您提供帮助。包罗万象的技术文档、详细的指南、来自社区的支持以及专业级的一对一支持，我们将不遗余力地助您迈向成功。</p>
            <p></p>
            <button>支持与资源</button>
        </div>
    </div>
    <div class="last_foot">
        <div class="last_foot_main">
            <a href="#">虚幻引擎5首次亮相!</a>
            <button>了解详情</button>
        </div>

    </div>
</div>

</body>
</html>