{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <link href="{% static 'time/css/mobile.css' %}" rel="stylesheet">
    <script src={% static 'layer-v3.1.1/layer-v3.1.1/layer/layer.js' %}></script>
    <link rel="stylesheet" type="text/css" href="{% static 'time/css/user_layer.css' %}">
    <title>VR虚拟现实</title>
    <script>
        window.onload = function () {
            var btn = document.getElementById("btn1");
            btn.onclick = function () {
                var name = $("#name").val();
                var Class = $("#class").val();
                var number = $("#number").val();
                var institute = $("#institute").val();
                var direction=$("#direction").val();
                var number1 = Number(number);
                var list=['VR虚拟现实','web开发','人工智能算法'
                ]
                if (!(name && Class && number && institute && direction)) {
                    layer.msg('请输入完整的信息', {time: 3000});
                }
                var x=false
                for(var i=0;i<list.length;i++)
                {
                    if (list[i]==direction)
                    {
                        x=true
                    }
                }
                if(!x)
                {
                    layer.msg('请输入正确的方向,包括VR虚拟现实,web开发,人工智能算法', {time: 5000});
                }
                else{
                     if (isNaN(number1)) {
                    layer.msg('请输入正确的学号', {time: 3000});
                } else {
                    $.ajax({
                        url: '/joinus/',
                        type: "GET",
                        async: false,
                        data: {
                            'name': name,
                            'Class': Class,
                            'number': number,
                            'institute': institute,
                            'direction':direction,
                        },
                        success: function (result) {
                            layer.msg('提交成功', {time: 3000});
                        }
                    });
                }
                }

            }
        }
    </script>
</head>
<body>
<a name="Back">
    <div class="header">
        <video muted loop="loop" autoplay="autoplay">
            <source src="{% static 'time/虚幻.mp4' %}" type="video/mp4">
        </video>
        <div class="header_font">
            <h1 style="color: aliceblue;">人工智能应用协会</h1>
            <p>人工智能开发工作室成立于2016年9月，是一个集算法，web开发，人工智能技术为一体的工作室。这里聚集着各个学院的大佬。期待萌新的加入</p>
        </div>
        <div class="btn"><span>开始探索</span></div>
    </div>
</a>
<div class="all">
 <div class="main_middle_first" id="rgzn">

        <div class="main_middle_first_img">

        </div>

        <div class="main_middle_first_font">

            <p class="main_middle_first_title"><b>人工智能算法协会</b></p>

            <p class="main_middle_first_main">

                人工智能（Artificial
                Intelligence），英文缩写为AI。它是研究、开发用于模拟、延伸和扩展人的智能的理论、方法、技术及应用系统的一门新的技术科学。人工智能算法协会使用python的pytouch与TensorFlow库来对机器学习与深度学习进行探索</p>

            <p></p>

            <button>了解更多</button>

        </div>

    </div>
 <div class="main_middle_first" id="rgzn">

        <div class="main_middle_first_img">

        </div>

        <div class="main_middle_first_font">

            <p class="main_middle_first_title"><b>Web开发协会</b></p>

            <p class="main_middle_first_main">

                人工智能（Artificial
                Intelligence），英文缩写为AI。它是研究、开发用于模拟、延伸和扩展人的智能的理论、方法、技术及应用系统的一门新的技术科学。人工智能算法协会使用python的pytouch与TensorFlow库来对机器学习与深度学习进行探索</p>

            <p></p>

            <button>了解更多</button>

        </div>

    </div> <div class="main_middle_first" id="rgzn">

        <div class="main_middle_first_img">

        </div>

        <div class="main_middle_first_font">

            <p class="main_middle_first_title"><b>VR虚拟现实</b></p>

            <p class="main_middle_first_main">

                人工智能（Artificial
                Intelligence），英文缩写为AI。它是研究、开发用于模拟、延伸和扩展人的智能的理论、方法、技术及应用系统的一门新的技术科学。人工智能算法协会使用python的pytouch与TensorFlow库来对机器学习与深度学习进行探索</p>

            <p></p>

            <button>了解更多</button>

        </div>

    </div>
</div>
<div class="foot_end">
    <div class="end_left">
        <p>立即开始</p>
        <div class="btu">
            <div class="dropdown">
                <a href="#" style="text-decoration: none;"><span>自主学习</span></a>
                <div class="dropdown-content">
                    <a href="https://www.runoob.com/html" target="_block"><p>菜鸟教程</p></a>
                    <a href="https://www.w3school.com.cn/index.html" target="_block"><p>W3School</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="end_right">
        <div class="wavy">
            <span style="--i:1">加</span>
            <span style="--i:2">入</span>
            <span style="--i:3">我</span>
            <span style="--i:4">们</span>
        </div>
        <div class="key">
            <input type="text" placeholder="姓名" id="name">
            <input type="text" placeholder="学号" id="number">
            <input type="text" placeholder="班级" id="class">
            <input type="text" placeholder="学院" id="institute">
            <input type="text" placeholder="方向" id="direction">
        </div>
        <div class="button">
            <button class="btn1" type="submit" id="btn1"><p>提交信息</p></button>
        </div>
    </div>
</div>
</div>

</body>
</html>

