.user_layer{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background:url('https://i.loli.net/2020/09/13/1IRaKTiwVZ7536J.png');
	-webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}