*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    height: 3.7em;
    background-color: #2a2a2a;
    width: 100%;
    opacity: 1;
    max-height: 3.7em;
    overflow: hidden;
    position: relative;
}
.main{
    position: relative;
 
}
.header_ul{
    position: relative;
    left: 8%;
}
.header_ul li{
    position: relative;
    left: 20%;
    float: left;
    list-style: none;
    color: #ccc;
    margin-left: 1.5em;
    top: 1.25em;
}
video{
    width: 100%;
    height: 90%;
    z-index: -100;
    position: relative;
}

.top_logo{
    width: 10%;
    height:15%;
    /* border: 1px solid blue; */
    position: absolute;
    top: 10%;
    left: 45%;
}
.top_idt{
    height: 40%;
    width: 60%;
    /* border: 1px solid red; */
    position: absolute;
    top: 45%;
    left:20%;

}
.idt{
    height: 60%;
    /* border: 1px solid blueviolet; */
 
}
p{
    color: #fff;
    padding-left: 10%;
}
.idt1{
    font-size: 2.5em;

}
.idt2{
   font-size: 1.2em;
   padding-right: 40%;
   margin-top: 2%;
 
}
.null{
    width: 28%;
    /* border: 1px solid red; */
    position: absolute;
}
.img1{
    width: 10%;
    /* border: 1px solid rosybrown; */
    margin-left: 5%;
    margin-top: 3%;
}
.img1 img{
    width: 70%;
}
.img2{
    width: 80%;
    /* border: 1px solid blue; */
    float: right;
    position: relative;
    bottom:3em;
  
}
.img2 img{
    width: 70%;
    height: 70%;
}
.idt button{
    width: 17%;
    height: 17%;
    background-color: #0aaff1;;
    border-radius: 4px;
    color: #fff;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 1.2em;
}
.top_url{
    height: 20%;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    opacity: 1;
    max-height: 30%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
    backdrop-filter: blur(20px);
    margin-top: 8%;
}
.idt_url li{
    position: relative;
    left: 15%;
    float: left;
    list-style: none;
    color: #ccc;
    margin-left: 5%;
    margin-top: 2.5%;
    font-size: 1.2em;
    transition: color 200ms ease-out 0s;
    z-index: 5;
}
/* 视频下介绍 */
.main_middle{
    background-color:black;
    border-top: 2% solid #2a2a2a;
    margin-top: -0.5%;
    height: 400em;
}
.main_middle_first_img{
    height: 80%;
    width: 45%;
    margin-left: 1em;
    margin-top: 2em;
    background:  url("https://cdn2.unrealengine.com/Unreal+Engine%2Findustry%2Farchitecture%2FImageCourtesyofBuildmedia_img5-1920x1080-23d979c4e57e57c1254e5a9971aba97e21a0351d.png?resize=1&w=1000") center center / cover no-repeat;
    float: left;
}
.main_middle_first{
    height:45em;
    /* border: 1px solid orange; */
}
.main_middle_first_font{
    height: 40em;
    width: 45%;
    margin-left: 50%;
    margin-top: 5em;
    position: absolute;
}
.main_middle_first_title{
    color: #fff;
   font-size: 2.3em;
   margin-left: 0.5em;
}
.main_middle_first_main{
   margin-left: 1em;
   color: #fff;
   font-size: 1em;
   margin-top: 1em;
   padding-right: 20em;
   line-height: 1.6em;
}
.main_middle_first_font button{
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
    max-width: 450px;
    margin: 5px;
    border-radius: 2px;
    background-color: rgba(17, 17, 17, 0.1);
    border-color: rgb(10, 175, 241);
    color: rgb(255, 255, 255);
    margin-left:7.5em;
    margin-top: 1em;
    width: 12em;
    height: 3em;
}
.main_middle_first_font button:hover{
    background-color: rgb(10, 175, 241);;
}


.main_middle_second_font{
    height: 25em;
    width: 45%;
    margin-left: 1em;
    margin-top: 3em;
    float: left;
}
.main_middle_second_title{
    color: #fff;
    font-size: 2.3em;
    margin-left: 1.5em;
}
.main_middle_second_main{
    margin-right: 1em;
    color: #fff;
    font-size: 1em;
    margin-top: 1em;
    padding-left: 15%;
    line-height: 1.6em;
}
.main_middle_second_img{
    height: 80%;
    width: 45%;
    margin-right:5em;
    margin-top: 3em;
    background:url("https://cdn2.unrealengine.com/Unreal+Engine%2Fhome%2FcourtesyofQuixel-1920x1080-d09ae5e46b84c5956e892098d5fe88b55be1bf87.jpg?resize=1&w=1000") center center / cover no-repeat;
    float: right;
}
.main_middle_second_font button{
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
    max-width: 450px;
    margin: 5px;
    border-radius: 2px;
    background-color: rgba(17, 17, 17, 0.1);
    border-color: rgb(10, 175, 241);
    color: rgb(255, 255, 255);
    margin-left: 15%;
    margin-top: 1em;
    width: 12em;
    height: 3em;
}
.main_middle_last_img{

    height: 80%;
    width: 45%;
    margin-left: 1em;
    margin-top: 2em;
   background:  url("https://cdn2.unrealengine.com/Unreal+Engine%2Fhome%2FFortnite_Chapter2_KeyArt-1920x1080-7316dcf815d5bbd94ba9ae3923c6168f5bf97cd0.png?resize=1&w=1000") center center / cover no-repeat;
    float: left;
}
.last_foot{
    width: 45%;
    /* border: 1px solid red; */
    margin: auto;
    background: url("https://cdn2.unrealengine.com/Unreal+Engine%2Fhome%2FUE_Homepage_LargeBlock_UE5_Announced_V5-1920x1021-b274acc236f5664de0eece5a74828a33d9d65371.jpg?resize=1&w=1300") center center / cover no-repeat;
    height: 500px;
    margin-top: 10%;
    position: relative;

}
.last_foot_main{
    width: 30%;
    /* border: 1px solid aqua; */
    position: relative;
    top: 30%;
    left: 15%;
}
.last_foot_main a{
    font-size: 1.8em;
    white-space:nowrap;  
}
.last_foot_main button{
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 1px;
    max-width: 450px;
    margin: 5px;
    border-radius: 2px;
    background-color: rgb(10, 175, 241);
    color: rgb(255, 255, 255);
    margin-top: 2em;
    width: 13.5em;
    height: 3em;
}